.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.quis {
	padding: 80px;
	font-size: 18px;
}

.position-relative {
	position: relative;
}

.w-full {
	width: 100%;
}

.size-height {
	position: relative;
	height: 300px;
}

.button-session-2 {
	display: flex;
	justify-content: end;
	padding-right: 80px;
	top: -210px;
	position: relative;
}